/.ipynb_checkpoints/*
__pycache__
/tests/__pycache__
/tests/output/*
/tests/temp
/pydit/__pycache__
/to delete/
audit.log
tests/audit.log
**/test_nonzero_len.xlsx
**/test_zero_len.xlsx
tests/test_nonzero_len.xlsx
tests/test_zero_len.xlsx
*.pyc