coverage==7.3.0
myst-parser==2.0.0
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
pydata-sphinx-theme==0.13.3
pytest==7.4.0
pytest-cov==4.1.0
pytest-cover==3.0.0
pytest-coverage==0.0
Sphinx==6.2.1
sphinx-book-theme==1.0.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.8
matplotlib==3.7.2
