coverage
numpy
openpyxl
pandas
matplotlib
poetry
poetry-core
myst-parser
poetry-plugin-export
pydata-sphinx-theme
pytest
pytest-cov
pytest-cover
pytest-coverage
Sphinx
sphinx-book-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml


